.line {
    fill: none;
    stroke: #b0b1b2;
}

.svg {
    width: 100vw;
    height: fit-content;
    padding: 0px;
    background: #232529;
    max-width: 700px;
}

.grid {
    stroke: #3b3e42;
    stroke-width: 2px;
}

.progressDot {
    fill: white;
    stroke: #262626;
    stroke-width: 2px;
}

@media screen and (min-width: 900px) {
    
    
    .svg {
        border: 1px #555856 solid;
        width: 46vw;
    }

}